body {
    margin-top: 47px;
    background-image: url('img/07b37d9e8af59caf15b0f8e1b49da368.jpg');
    background-size: cover;
}

.mine {
    color: #080808 !important;
    background-color: #c0e0c1 !important;
    padding: 10px;
    font-size: medium;
    font-weight: 600;
    font-style: normal;
    font-family: cursive;
    border-radius: 13px;
}

.notmine {
    color: #080808 !important;
    background-color: #fcf8e3 !important;
    padding: 10px;
    font-size: medium;
    font-weight: 600;
    font-style: normal;
    font-family: cursive;
    border-radius: 13px;
}

.timeSpan {
    margin-top: 8px;
}

.fa_custom {
    color: #1bd0ac;
    padding-top: 8px;
}

.txtArea {
    border-radius: 5px;
    width: 88%;
    display: inline;
    padding: 25px;
}

.btnSend {
    margin-top: 0px;
    width: 11%;
    padding: 13px;
    background-color: #34495e;
    color: #fcf8e3;
    font-size: larger;
    border-radius: 11px;
    float: right;
    transition-duration: 0.4s;
    border: 1px solid #31708f;
    transition-duration: 0.4s;
}

    .btnSend :hover {
        background-color: red;
    }

.chatwidth {
    width: 700px;
}

.portlet {
    margin-bottom: 15px;
}

.btn-white {
    border-color: #cccccc;
    color: #333333;
    background-color: #ffffff;
}

.portlet {
    border: 1px solid;
}

    .portlet .portlet-heading {
        padding: 0 15px;
    }

        .portlet .portlet-heading h4 {
            padding: 1px 0;
            font-size: 16px;
        }

        .portlet .portlet-heading a {
            color: #fff;
        }

            .portlet .portlet-heading a:hover,
            .portlet .portlet-heading a:active,
            .portlet .portlet-heading a:focus {
                outline: none;
            }

    .portlet .portlet-widgets .dropdown-menu a {
        color: #333;
    }

    .portlet .portlet-widgets ul.dropdown-menu {
        min-width: 0;
    }

    .portlet .portlet-heading .portlet-title {
        float: left;
    }

        .portlet .portlet-heading .portlet-title h4 {
            margin: 12px 9px;
            display: inline-block;
        }

    .portlet .portlet-heading .portlet-widgets {
        float: right;
        margin: 8px 0;
    }

        .portlet .portlet-heading .portlet-widgets .tabbed-portlets {
            display: inline;
        }

        .portlet .portlet-heading .portlet-widgets .divider {
            margin: 0 5px;
        }

    .portlet .portlet-body {
        padding: 15px;
        background: #fff;
    }

    .portlet .portlet-footer {
        padding: 10px 15px;
        background: #e0e7e8;
    }

        .portlet .portlet-footer ul {
            margin: 0;
        }

.portlet-green,
.portlet-green > .portlet-heading {
    border-color: #16a085;
}

    .portlet-green > .portlet-heading {
        color: #fff;
        background-color: #16a085;
    }

.portlet-orange,
.portlet-orange > .portlet-heading {
    border-color: #f39c12;
}

    .portlet-orange > .portlet-heading {
        color: #fff;
        background-color: #f39c12;
    }

.portlet-blue,
.portlet-blue > .portlet-heading {
    border-color: #2980b9;
}

    .portlet-blue > .portlet-heading {
        color: #fff;
        background-color: #2980b9;
    }

.portlet-red,
.portlet-red > .portlet-heading {
    border-color: #e74c3c;
}

    .portlet-red > .portlet-heading {
        color: #fff;
        background-color: #e74c3c;
    }

.portlet-purple,
.portlet-purple > .portlet-heading {
    border-color: #8e44ad;
}

    .portlet-purple > .portlet-heading {
        color: #fff;
        background-color: #8e44ad;
    }

.portlet-default,
.portlet-dark-blue,
.portlet-default > .portlet-heading,
.portlet-dark-blue > .portlet-heading {
    border-color: #34495e;
}

    .portlet-default > .portlet-heading,
    .portlet-dark-blue > .portlet-heading {
        color: #fff;
        background-color: #34495e;
    }

.portlet-basic,
.portlet-basic > .portlet-heading {
    border-color: #333;
}

    .portlet-basic > .portlet-heading {
        border-bottom: 1px solid #333;
        color: #333;
        background-color: #fff;
    }

@media(min-width:768px) {
    .portlet {
        margin-bottom: 30px;
    }
}

.text-green {
    color: #16a085;
        padding-right: 5px;
}

.text-orange {
    color: #f39c12;
}

.text-red {
    color: #e74c3c;
}

a {
    display: block;
}
